<div class="container">
    <div class="row">
        <div class="col s-6">
            <h1>Attempts</h1>
            <h3>{{tick.name}}</h3>
            <h4>{{tick.area}}</h4>
        </div>
        <div class="col offset-s4 s-2 add-btn ">
            <a class="btn-floating btn-large waves-effect waves-light light-green darken-1 modal-trigger" href="#addattempt"><i class="material-icons">add</i></a>
        </div>
    </div>
    <div id="addattempt" class="modal">
        <div class="modal-content">
            <h4>New Attempt</h4>
            <div class="row">
                <form class="col s12" method="post" action="/users/attempts">
                    <div class="row">
                        <div class="input-field col s6">
                            <select name="send_type">
                              <option value="Top Rope">Top Rope</option>
                              <option value="Lead">Lead</option>
                              <option value="Red Point">Red Point</option>
                              <option value="Flash">Flash</option>
                              <option value="Onsight">Onsight</option>
                          </select>
                            <label>Send Type</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="area" id="area" type="text" class="validate">
                            <label for="area">Name of Partner</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="Notes" name="notes" class="materialize-textarea"></textarea>
                            <label for="Notes">Notes</label>
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" name="action" class="modal-action waves-effect waves-green btn-flat">Save</button>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
        </form>
    </div>

    <div class="row">
        <table class="highlight">
            <thead>
                <tr>
                    <th data-field="send_type">Send Type</th>
                    <th data-field="partner">Partner</th>
                    <th data-field="notes">Notes</th>
                </tr>
            </thead>

            <tbody>
                {{#each data}}
                    <tr id="{{id}}">
                        <td>{{send_type}}</td>
                        <td>{{partner}}</td>
                        <td>{{notes}}</td>
                        <td><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
